body {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden !important;
}

#nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  counter-reset: item 0;
  position: relative;
  z-index: 12;
}

.header_logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.opaque-navbar {
  background-color: rgba(0, 0, 0, 0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
  height: 110px;
  border-bottom: 0px;
  transition: background-color 7s ease 0s;
}
.opaque-navbar li a:hover {
  color: #fff;
}
.opaque-navbar li a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.opaque-navbar ul {
  list-style: none;
  margin-top: 45px;
}
.opaque-navbar li {
  display: inline-block;
}
#navDiv {
  padding-left: 20px;
}

.opaque-navbar.opaque {
  background-color: #c96567;
  height: 110px;
  transition: background-color 0.5s ease 0s;
}

.opaque-navbar.red {
  background-color: #eb6361;
  height: 110px;
  transition: background-color 0.5s ease 0s;
}

.opaque-navbar.green {
  background-color: #4cd4b0;
  height: 110px;
  transition: background-color 0.5s ease 0s;
}

.customNav {
  color: white !important;
  font-size: 14px;
}
.customNav:hover {
  color: #314455;
  cursor: pointer;
  text-decoration: underline;
}

.card {
  transition: 0.3s;
  border-bottom-right-radius: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
.card-style {
  background-color: #314455;
  min-height: 100px;
  cursor: pointer;
}

.container {
  padding: 2px 16px;
}

#headerDiv {
  margin: 0 auto;
  width: 60%;
  height: 40%;
  min-width: 300px;
}

#about:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 99em;
}

.txt {
  margin-bottom: 5px;
}

.white-txt {
  color: #feffff;
}

.formWidth {
  width: 350px;
}

.projects-maintext {
  color: white;
}

.projects-subtext {
  color: #314455;
}

.accent-text {
  color: #314455;
}

.social {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  color: #314455;
}

.social-list {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.social-item {
  padding: 10px;
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  height: auto;
}

.social-link:hover .overlay {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 9px;
  right: 0;
  height: 57%;
  width: 57%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #314455;
  border-radius: 50%;
}

.social-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: white;
  margin: 0px auto;
}

.social-item-github {
  width: 24px;
}

.color-btns {
  background-color: #c96567 !important;
  border-color: #314455 !important;
  color: #314455 !important;
}

.email {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 40px;
  color: white;
}

.emailLinkWrapper {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.emailLinkWrapper::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: white;
  margin: 0px auto;
  color: white;
}

.emailLink {
  font-size: 15px;
  letter-spacing: 0.5px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: 20px auto;
  padding: 10px;
  color: white;
  display: inline-block;
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.emailLink:hover {
  color: #314455;
}
