body {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden !important;
}

.opaque-navbar {
  background-color: rgba(0, 0, 0, 0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
  height: 110px;
  border-bottom: 0px;
  transition: background-color 7s ease 0s;
}
.opaque-navbar li a:hover {
  color: #fff;
}
.opaque-navbar li a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.opaque-navbar ul {
  list-style: none;
  margin-top: 45px;
}
.opaque-navbar li {
  display: inline-block;
}
#navDiv {
  padding-left: 20px;
}

.opaque-navbar.opaque {
  background-color: #1d628b;
  height: 110px;
  transition: background-color 0.5s ease 0s;
}

.opaque-navbar.red {
  background-color: #eb6361;
  height: 110px;
  transition: background-color 0.5s ease 0s;
}

.opaque-navbar.green {
  background-color: #4cd4b0;
  height: 110px;
  transition: background-color 0.5s ease 0s;
}

.customNav {
  color: white;
  font-size: 14px;
}
.customNav:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.card {
  transition: 0.3s;
  border-bottom-right-radius: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.container {
  padding: 2px 16px;
}

#headerDiv {
  margin: 0 auto;
  width: 60%;
  height: 40%;
  min-width: 300px;
}

#about:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 99em;
}

.txt {
  margin-bottom: 5px;
}

.formWidth {
  width: 350px;
}
